<head>
    <link rel="stylesheet" href="~/style.css" />
</head>

<body>
    <div>
        <h1>Time Person of the Year (1927 - 2016)</h1>
        <h2>Search Time Magazine's Persons of the Year by Date Range</h2>

        <form method="post">
            <label for="startYear">Earliest Year:</label>
            <input name="startYear" maxlength="4" /><br />
            <label for="endYear">Latest Year:</label>
            <input name="endYear" maxlength="4" /><br />
            <button type="submit">Search</button>
        </form>
    </div>
</body>